<div class="sidebar">
    <ul>
        <li><a routerLink="/violet">Violet City</a></li>
        <li><a routerLink="/azalea">Azalea Town</a></li>
        <li><a routerLink="/blackthorn">Blackthorn City</a></li>
        <li><a routerLink="/cianwood">Cianwood City</a></li>
        <li><a routerLink="/ecruteak">Ecruteak City</a></li>
        <li><a routerLink="/goldenrod">Goldrenrod City</a></li>
        <li><a routerLink="/mahogany">Mahogany Town</a></li>
        <li><a routerLink="/olivine">Olivine City</a></li>
    </ul>
</div>
<button class="button" (click) = "navigateToJohto()">Back to Johto</button>
